extends layout

block content
  .col-lg-12
    h1= title
    p Welcome to #{title}
    p #{roles}
  .col-md-4
      .panel.panel-default.panel-crud
        .panel-heading
          | All Users
        .panel-body.chat
          ul
            each us in users
              li.user-list-item.clearfix.draggable( id='#{us._id}', item='#{us._id}', data-user='#{us._id}')
                  span.chat-img.pull-left
                    img.img-circle(src='http://placehold.it/50/30a5ff/fff', alt='User Avatar')
                  .header
                    strong.primary-font
                      | #{us.local.email}

  .col-md-8
    .panel.panel-default.panel-crud
        .panel-heading
          span.glyphicon.glyphicon-user
          | user
        .panel-body.usercrud
          form.post-user.input-group()
            .input-group
              label Email
              input.form-control(name='email', value='lolmail')
              br
              label Password
              input.form-control(name='password', value='')
              br
              label Role
              input.form-control(name='role', value='moot')
            button.btn.btn-send(type='submit') Submit


  .hiddenhtml
    select.form-control(name='role')
      each ro in roles
        option(value="#{ro.name}") #{ro.name}

