extends layout

block content
  .col-lg-12
    h1= title
    p Welcome to #{title}
  .col-md-4
      .panel.panel-poke.panel-crud
        .panel-heading
          | All Users
        .panel-body.chat
          ul
            each us in users
              li.user-list-item.clearfix.draggable.deletehide( id='#{us._id}', item='#{us._id}', data-user='#{us._id}')
                  span.chat-img.pull-left
                    //img.img-circle(src='http://placehold.it/50/30a5ff/fff', alt='User Avatar')
                    img.img-circle(src='https://avatars3.githubusercontent.com/u/4416224?v=3&s=50', alt='User Avatar')
                  .header
                    strong.primary-font
                      | #{us.local.email}
                  button.btn.btn-danger.pull-right.btn-delete-user(data-user='#{us._id}') Delete
        .panel-footer
          button.btn.btn-send.btn-newuser
            span.glyphicon.glyphicon-plus new
  .col-md-8
    .panel.panel-poke.panel-crud
        .panel-heading.headinguser
          span.glyphicon.glyphicon-user
          | user
        .panel-body.usercrud

  .hiddenhtml
    select.form-control.f-role(name='role')
      each ro in roles
        option(value="#{ro.name}") #{ro.name}
  script.
    $(function () {newUser()})

